<header id="header">
  <figure class="profileTimelinePic ">
    <img class="img-responsive setMargins" [src]="pageData.page_picture" alt="">
  </figure>
</header>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuBar"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuBar">
      <ul class="nav navbar-nav">
        <li>
          &nbsp; <a class="borderRight" style="cursor: pointer"><i class="fa fa-thumbs-up"></i>
            Like
            &nbsp; </a>
        </li>
        <li>
          &nbsp; <a class="borderRight" style="cursor: pointer"><i class="fa fa-home"></i>
            Follow &nbsp; </a>
        </li>
        <li>
          &nbsp; <a class="borderRight" style="cursor: pointer"><i class="fa fa-object-group"></i>
            Share &nbsp; </a>
        </li>

      </ul>
    </div>

  </div>
</nav>