//a rem is based on 10px (62.5%) of default one (16px)
$font_size_xl: 2rem;
$font_size_l: 1.6rem;
$font_size_m: 1.4rem;
$font_size: 1.2rem;
$font_size_s: 1rem;
$font_size_xs: .9rem;

$section_padding_y: 0;
$section_padding_x: 30px;
$section_padding: $section_padding_y $section_padding_x;

$header_height: 60px;